<!-- <p>admin-login works!</p> -->

<br /><br />
<div class="main">
<div class="main admin-login">
    <h1>Admin SignIn</h1>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="text" [(ngModel)]="email" placeholder="Email">
    </div>
    <br />
    <div class="item-icon">
       <div class="icon">
        </div><input type="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <br />
    <div>
        <button (click)="signIn()" mat-raised-button color="primary" style="background-color: rgb(72, 16, 85);
        color: rgb(249, 229, 254);">SignIn</button>
    </div>
    <img src="../../../assets/Images/pic10.png" alt="Admin Login image " width="50%" height="20%">
</div>
</div>

